.software-skills-main-div {
  margin-top: 30px;
}
.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
}

.software-skill-inline {
  display: inline-block;
  padding-right: 20px;
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #4550e6;
}
