body {
  padding: 0;
  margin: 0;
}

.error-img {
  max-width: 150px;
  display: grid;
  margin: 50px auto 40px;
  width: 100%;
  height: auto;
}

.lost {
  text-align: center;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-error);
}

.not-found {
  color: #5d6778;
  text-align: center;
}

.back-btn {
  max-width: 150px;
  margin: 0 auto;
}

.error-404 {
  margin-top: 100px;
  color: var(--bg-panel);
}

.bck {
  display: grid;
  margin-left: 4%;
}

@media (max-width: 48em) {
  .error-img {
    max-width: 100px;
  }
}
